
body{
    background-image: url("background3.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.home {
    width: 100%;
    height: 100%;
}

.landing-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.waves{
    display:block;
    height: 52px; 
    background-repeat: repeat-x;
    color: white;
}
.logo {
    color: white;
    text-align: center;
    font-size: xx-large;
}

.slogan {
    position: relative;
    color: white;
    padding-bottom: 2%;
}

.directory{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15%;
}

.link1{
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    background-color: transparent;
    text-align: center;
    border: transparent;
    color: white;
    font-size: medium;
}