
body{
    background-image: url("background3.jpg");
    background-size: cover;
}

.landing-page{
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    color: white;
    text-align: center;
    font-size: xx-large;
}

.slogan {
    position: relative;
    left: 15%;
    color: white;
}

.directory{
    position: relative;
}

.button1{
    background-color: transparent;
    text-align: center;
    border: transparent;
    color: white;
    font-size: medium;
}